<form class="add-post" [formGroup]="post">
  <h2>Create Post</h2>
  <div>
    <label>
      Title <input type="text" name="title" formControlName="title">
    </label>
  </div>
  <div>
    <label>
      Assets <input type="file" name="assets" formControlName="assets">
    </label>
  </div>
  <div>
    <label>
      Tags
      <angular2-multiselect [data]="dropdownList"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="selectedItems"
                            [settings]="dropdownSettings">
      </angular2-multiselect>
    </label>
  </div>
  <div>
    <button type="button" (click)="save()">Save</button>
  </div>
</form>
