<div class="popup">
	<div class="popup_win">
    <div class="pw-close"></div>
		<div class="w-160 r-arrow logo">
			<span>Your</span>Target
		</div>
		<div class="w-160 title">
			Login
		</div>
		<div class="pw_form">
			<input type="text" name="login" placeholder="Email"/>
			<input type="password" name="pass" placeholder="Password"/>
		</div>
		<div class="login">Login</div>
	</div>
  </div>

<div class="header">
  <div class="w-1280">
    <div class="w-160 r-arrow logo">
      <span>Your</span>Target
    </div>
    <div class="w-160 r-arrow title">
      Social Classifier
    </div>
    <div class="w-320 r-arrow description">
      <span>Welcome</span>to the free classification database that anyone can edit
    </div>
    <div class="w-320 description">
      The social classifier is developed by users by enthusiasts and gives third-party API developers access to data, on the basis of which it is possible to create recommendatory services and analytical programs
    </div>
  </div>
</div>
<div class="menu">
  <div class="w-1280">
    <div class="menu-li"><a href="#">Login</a></div>
    <div class="menu-li"><a href="#">FAQ</a></div>
  </div>
</div>
<div class="content">
  <div class="w-1280">
    <div class="content-wrapper">
      <app-add-post></app-add-post>
      <router-outlet></router-outlet>
      <!-- SEARCH OPTIONS -->
      <div class="search">
        <!-- SELECT OPTION -->

        <div class="baner">
							<div class="b-title">Help describe and classify what is important to you</div>
							<div class="b-context">Join the creation of a free database of described objects for developers and get recognition in the form of tokenized votes</div>
							<div class="b-desc"></div>
						</div>

        <div class="ca-meta-title">Search settings</div>
        <div class="ca-field">
          <div class="ca-field-title">Address:</div>
          <div class="ca-field-select">
            <div class="ca-fs-input">
              <input type="text" name="type_object"/>
            </div>
          </div>
        </div>
        <div class="ca-field">
          <div class="ca-field-title">Type of the object:</div>
          <div class="ca-field-select">
            <div class="ca-fs-input">
              <input type="text" name="type_object" value="место"/>
            </div>
            <div class="ca-fs-list">
              <div class="ca-fs-option">Место</div>
              <div class="ca-fs-option">Собычно</div>
            </div>
          </div>
        </div>
        <div class="ca-field">
          <div class="ca-field-title">Place type</div>
          <div class="ca-field-select">
            <div class="ca-fs-input">
              <input type="text" name="type_object" value="Кофейня"/>
            </div>
            <div class="ca-fs-list">
              <div class="ca-fs-option">Кофейня</div>
              <div class="ca-fs-option">Ресторан</div>
              <div class="ca-fs-option">бар</div>
            </div>
          </div>
        </div>
        <div class="ca-field">
          <div class="ca-field-title">Interior:</div>
          <div class="ca-field-select">
            <div class="ca-fs-input">
              <input type="text" name="type_object" value="Лофт"/>
            </div>
            <div class="ca-fs-list">
              <div class="ca-fs-option">Лофт</div>
              <div class="ca-fs-option">Классический</div>
              <div class="ca-fs-option">Креатив</div>
            </div>
          </div>
        </div>
        <div class="ca-field">
          <div class="ca-field-title">You can often meet:</div>
          <div class="ca-field-select">
            <div class="ca-fs-input">
              <input type="text" name="type_object" value="Хипстер"/>
            </div>
            <div class="ca-fs-list">
              <div class="ca-fs-option">Хипстер</div>
              <div class="ca-fs-option">Айтишники</div>
              <div class="ca-fs-option">Творческие люди</div>
              <div class="ca-fs-option">Деловые люди</div>
            </div>
          </div>
        </div>
        <div class="add_option">+ Add more criteria</div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="w-1280">
    <div class="footer-info">
      Social Classifier 2018. All rights reserved.
    </div>
  </div>
</div>
