<div class="popup">
	<div class="popup_win">
    <div class="pw-close"></div>
		<div class="w-160 r-arrow logo">
			<span>Your</span>Target
		</div>
		<div class="w-160 title">
			Авторизация
		</div>
		<div class="pw_form">
			<input type="text" name="login" placeholder="Email"/>
			<input type="password" name="pass" placeholder="Password"/>
		</div>
		<div class="login">Авторизация</div>
	</div>
  </div>

<div class="header">
  <div class="w-1280">
    <div class="w-160 r-arrow logo">
      <span>Your</span>Target
    </div>
    <div class="w-160 r-arrow title">
      Социальный классификатор
    </div>
    <div class="w-320 r-arrow description">
      <span>Добро пожаловать</span> в класификационную базу, которую может редактировать каждый
    </div>
    <div class="w-320 description">
      Социальный классификатор развивается пользователями энтузиастами и дает сторонним разработчикам  API доступ  к данным, на базе которых можно создавать рекомендательные сервисы и аналитические программы
    </div>
  </div>
</div>
<div class="menu">
  <div class="w-1280">
    <div class="menu-li"><a href="#">Авторизация</a></div>
    <div class="menu-li"><a href="#">Вопросы и ответы</a></div>
  </div>
</div>
<div class="content">
  <div class="w-1280">
    <div class="content-wrapper">
      <app-add-post></app-add-post>
      <router-outlet></router-outlet>
      <!-- SEARCH OPTIONS -->
      <div class="search">
        <!-- SELECT OPTION -->
        
        <div class="baner">
							<div class="b-title">Помогите описать то, что для Вас важно</div>
							<div class="b-context">Присоединяйтесь к созданию свободной базы описанных объектов для разработчиков и получайте признание в виде токенизированных голосов</div>
							<div class="b-desc"></div>
						</div>
 
        <div class="ca-meta-title">Настройки поиска</div>
        <div class="ca-field">
          <div class="ca-field-title">Адрес:</div>
          <div class="ca-field-select">
            <div class="ca-fs-input">
              <input type="text" name="type_object"/>
            </div>
          </div>
        </div>
        <div class="ca-field">
          <div class="ca-field-title">Тип объекта</div>
          <div class="ca-field-select">
            <div class="ca-fs-input">
              <input type="text" name="type_object" value="место"/>
            </div>
            <div class="ca-fs-list">
              <div class="ca-fs-option">Место</div>
              <div class="ca-fs-option">Собычно</div>
            </div>
          </div>
        </div>
        <div class="ca-field">
          <div class="ca-field-title">Тип заведения</div>
          <div class="ca-field-select">
            <div class="ca-fs-input">
              <input type="text" name="type_object" value="Кофейня"/>
            </div>
            <div class="ca-fs-list">
              <div class="ca-fs-option">Кофейня</div>
              <div class="ca-fs-option">Ресторан</div>
              <div class="ca-fs-option">бар</div>
            </div>
          </div>
        </div>
        <div class="ca-field">
          <div class="ca-field-title">Интерьер:</div>
          <div class="ca-field-select">
            <div class="ca-fs-input">
              <input type="text" name="type_object" value="Лофт"/>
            </div>
            <div class="ca-fs-list">
              <div class="ca-fs-option">Лофт</div>
              <div class="ca-fs-option">Классический</div>
              <div class="ca-fs-option">Креатив</div>
            </div>
          </div>
        </div>
        <div class="ca-field">
          <div class="ca-field-title">Часто можно встретить:</div>
          <div class="ca-field-select">
            <div class="ca-fs-input">
              <input type="text" name="type_object" value="Хипстер"/>
            </div>
            <div class="ca-fs-list">
              <div class="ca-fs-option">Хипстер</div>
              <div class="ca-fs-option">Айтишники</div>
              <div class="ca-fs-option">Творческие люди</div>
              <div class="ca-fs-option">Деловые люди</div>
            </div>
          </div>
        </div>
        <div class="add_option">+ Добавить еще критерий</div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="w-1280">
    <div class="footer-info">
      Социальный граф 2018. Все права защищены
    </div>
  </div>
</div>
