.post-tag {
  padding: 1em;
  border: 1px solid white;
  text-align: center;
}

.up-vote {
  margin: auto;
  display: inline-block;
  border-radius: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: white;
  background-color: green;
}

.down-vote {
  margin: auto;
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
  width: 24px;
  height: 24px;
  color: white;
  background-color: red;
}
